<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <script src="https://kit.fontawesome.com/24a37e864a.js" crossorigin="anonymous"></script>
    <title>전시지도</title>
</head>
<body>
    <header>
        <i class="fa-solid fa-magnifying-glass" id="search"></i>
        <h1>전<span class="tiny">통</span>시<span class="tiny">장</span>지도</h1>
        <div id="empty"></div>
    </header>
    <article>
        <div id="search_div">
            <div class="title">
                <i class="fa-solid fa-x close" id="search_close"></i>
                <h2>시장 검색</h2>
            </div>
            <div class="basic space">
                <h3>기본 정보</h3>
                <table>
                    <tr>
                        <td>시장유형</td>
                        <td>
                            <input type="checkbox" name="category" id="every_day_market" value="상설장" />
                            <label for="every_day_market">상설장</label>
                            <input type="checkbox" name="category" id="five_day_market" value="5일장" />
                            <label for="five_day_market">5일장</label>
                        </td>
                    </tr>
                    <tr>
                        <td>개설주기</td>
                        <td>
                            <div>
                                <input type="checkbox" name="open_cycle" id="1p6" value="1일+6일" />
                                <label for="1p6">1일+6일</label>
                                <input type="checkbox" name="open_cycle" id="5p10" value="5일+10일" />
                                <label for="5p10">5일+10일</label>
                                <input type="checkbox" name="open_cycle" id="2p7" value="2일+7일" />
                                <label for="2p7">2일+7일</label>
                                <input type="checkbox" name="open_cycle" id="every" value="매일" />
                                <label for="every">매일</label>
                            </div>
                            <div>
                                <input type="checkbox" name="open_cycle" id="3p8" value="3일+8일" />
                                <label for="3p8">3일+8일</label>
                                <input type="checkbox" name="open_cycle" id="4p9" value="4일+9일" />
                                <label for="4p9">4일+9일</label>
                                <input type="checkbox" name="open_cycle" id="2p4p7p9" value="2일+4일+7일+9일" />
                                <label for="2p4p7p9">2일+4일+7일+9일</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>취급품목</td>
                        <td>
                            <div>
                                <input type="checkbox" name="items_type" id="food" value="음식점" />
                                <label for="food">음식점</label>
                                <input type="checkbox" name="items_type" id="agricultural_products" value="농산물" />
                                <label for="agricultural_products">농산물</label>
                                <input type="checkbox" name="items_type" id="processed_food" value="가공식품" />
                                <label for="processed_food">가공식품</label>
                                <input type="checkbox" name="items_type" id="clothes" value="의류" />
                                <label for="clothes">의류</label>
                            </div>
                            <div>
                                <input type="checkbox" name="items_type" id="household_items" value="가정용품" />
                                <label for="household_items">가정용품</label>
                                <input type="checkbox" name="items_type" id="livestock_products" value="축산물" />
                                <label for="livestock_products">축산물</label>
                                <input type="checkbox" name="items_type" id="seafood" value="수산물" />
                                <label for="seafood">수산물</label>
                                <input type="checkbox" name="items_type" id="shoes" value="신발" />
                                <label for="shoes">신발</label>
                            </div>
                            <div>
                                <input type="checkbox" name="items_type" id="etc" value="기타" />
                                <label for="etc">기타</label>
                                <input type="text" name="etc">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="facility space">
                <h3>편의 / 안전 시설 보유 여부</h3>
                <table>
                    <tr>
                        <td>공중화장실</td>
                        <td>
                            <select name="restroom">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>아케이드</td>
                        <td>
                            <select name="arcade">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>엘리베이터 / 에스컬레이터</td>
                        <td>
                            <select name="elevator">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>고객지원센터</td>
                        <td>
                            <select name="support_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>스프링쿨러</td>
                        <td>
                            <select name="sprinkler">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>화재감지기</td>
                        <td>
                            <select name="fire_detector">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>유아놀이방</td>
                        <td>
                            <select name="play_room">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>종합콜센터</td>
                        <td>
                            <select name="call_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>고객휴게실</td>
                        <td>
                            <select name="foyer">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>수유센터</td>
                        <td>
                            <select name="lactation_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>물품보관함</td>
                        <td>
                            <select name="stockroom">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>자전거보관함</td>
                        <td>
                            <select name="bicycle_rack">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>체육시설</td>
                        <td>
                            <select name="gym">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>간이 도서관</td>
                        <td>
                            <select name="library">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>쇼핑카트</td>
                        <td>
                            <select name="shopping_cart">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>외국인 안내센터</td>
                        <td>
                            <select name="visitor_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>고객동선통로</td>
                        <td>
                            <select name="movement_path">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>방송센터</td>
                        <td>
                            <select name="broadcasting_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>문화교실</td>
                        <td>
                            <select name="cultural_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>공동물류창고</td>
                        <td>
                            <select name="cooperative_warehouse">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>시장전용 고객주차장</td>
                        <td>
                            <select name="parking">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>교육장</td>
                        <td>
                            <select name="education_center">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>회의실</td>
                        <td>
                            <select name="meeting_room">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>자동심장충격기</td>
                        <td>
                            <select name="AED">
                                <option value="irrelevant" selected>상관 없음</option>
                                <option value="true">O</option>
                                <option value="false">X</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="btn_div">
                <button id="search_btn">검색하기</button>
            </div>
        </div>
        <div id="map"></div>
        <div id="info">
            <div class="title">
                <h2 id="market_name">TEST시장</h2>
                <i class="fa-solid fa-x close" id="market_close"></i>
            </div>
            <div class="basic space">
                <h3>기본 정보</h3>
                <table>
                    <tr>
                        <td>시장유형</td>
                        <td id="category">TEST</td>
                    </tr>
                    <tr>
                        <td>도로명주소</td>
                        <td id="address">TEST</td>
                    </tr>
                    <tr>
                        <td>개설주기</td>
                        <td id="open_cycle">TEST</td>
                    </tr>
                    <tr>
                        <td>점포 수</td>
                        <td id="number_of_stores">TEST</td>
                    </tr>
                    <tr>
                        <td>취급품목</td>
                        <td id="items_type">TEST</td>
                    </tr>
                    <tr>
                        <td>홈페이지 주소</td>
                        <td id="homepage">TEST</td>
                    </tr>
                    <tr>
                        <td>개설연도</td>
                        <td id="open_year">TEST</td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td id="phone_number">TEST</td>
                    </tr>
                </table>
            </div>
            <div class="facility space">
                <h3>편의 / 안전 시설 보유 여부</h3>
                <table>
                    <tr>
                        <td>공중화장실</td>
                        <td id="restroom">TEST</td>
                    </tr>
                    <tr>
                        <td>아케이드</td>
                        <td id="arcade">TEST</td>
                    </tr>
                    <tr>
                        <td>엘리베이터 / 에스컬레이터</td>
                        <td id="elevator">TEST</td>
                    </tr>
                    <tr>
                        <td>고객지원센터</td>
                        <td id="support_center">TEST</td>
                    </tr>
                    <tr>
                        <td>스프링쿨러</td>
                        <td id="sprinkler">TEST</td>
                    </tr>
                    <tr>
                        <td>화재감지기</td>
                        <td id="fire_detector">TEST</td>
                    </tr>
                    <tr>
                        <td>유아놀이방</td>
                        <td id="play_room">TEST</td>
                    </tr>
                    <tr>
                        <td>종합콜센터</td>
                        <td id="call_center">TEST</td>
                    </tr>
                    <tr>
                        <td>고객휴게실</td>
                        <td id="foyer">TEST</td>
                    </tr>
                    <tr>
                        <td>수유센터</td>
                        <td id="lactation_center">TEST</td>
                    </tr>
                    <tr>
                        <td>물품보관함</td>
                        <td id="stockroom">TEST</td>
                    </tr>
                    <tr>
                        <td>자전거보관함</td>
                        <td id="bicycle_rack">TEST</td>
                    </tr>
                    <tr>
                        <td>체육시설</td>
                        <td id="gym">TEST</td>
                    </tr>
                    <tr>
                        <td>간이 도서관</td>
                        <td id="library">TEST</td>
                    </tr>
                    <tr>
                        <td>쇼핑카트</td>
                        <td id="shopping_cart">TEST</td>
                    </tr>
                    <tr>
                        <td>외국인 안내센터</td>
                        <td id="visitor_center">TEST</td>
                    </tr>
                    <tr>
                        <td>고객동선통로</td>
                        <td id="movement_path">TEST</td>
                    </tr>
                    <tr>
                        <td>방송센터</td>
                        <td id="broadcasting_center">TEST</td>
                    </tr>
                    <tr>
                        <td>문화교실</td>
                        <td id="cultural_center">TEST</td>
                    </tr>
                    <tr>
                        <td>공동물류창고</td>
                        <td id="cooperative_warehouse">TEST</td>
                    </tr>
                    <tr>
                        <td>시장전용 고객주차장</td>
                        <td id="parking">TEST</td>
                    </tr>
                    <tr>
                        <td>교육장</td>
                        <td id="education_center">TEST</td>
                    </tr>
                    <tr>
                        <td>회의실</td>
                        <td id="meeting_room">TEST</td>
                    </tr>
                    <tr>
                        <td>자동심장충격기</td>
                        <td id="AED">TEST</td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer>
        <div class="introduce">
            <p>이메일 : arcomade12@gmail.com</p>
            <p>ⓒ김정태. All rights reserved.</p>
        </div>
        <div class="sns">
            <a href="https://github.com/ArcoKim" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://arcozz.tistory.com" target="_blank"><i class="fa-brands fa-blogger"></i></a>
        </div>
    </footer>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ api_key }}"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>