<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <script src="https://kit.fontawesome.com/24a37e864a.js" crossorigin="anonymous"></script>
    <title>전시지도</title>
</head>
<body>
    <header>
        <h1>전<span class="tiny">통</span>시<span class="tiny">장</span>지도</h1>
    </header>
    <article>
        <div id="map"></div>
        <div id="info">
            <div id="title">
                <h2 id="market_name">시장</h2>
                <i class="fa-solid fa-x" id="close"></i>
            </div>
            <div id="basic">
                <h3>기본 정보</h3>
                <table>
                    <tr>
                        <td>시장유형</td>
                        <td id="category">TEST</td>
                    </tr>
                    <tr>
                        <td>도로명주소</td>
                        <td id="address">TEST</td>
                    </tr>
                    <tr>
                        <td>개설주기</td>
                        <td id="open_cycle">TEST</td>
                    </tr>
                    <tr>
                        <td>점포 수</td>
                        <td id="number_of_stores">TEST</td>
                    </tr>
                    <tr>
                        <td>취급품목</td>
                        <td id="items_type">TEST</td>
                    </tr>
                    <tr>
                        <td>홈페이지 주소</td>
                        <td id="homepage">TEST</td>
                    </tr>
                    <tr>
                        <td>개설연도</td>
                        <td id="open_year">TEST</td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td id="phone_number">TEST</td>
                    </tr>
                </table>
            </div>
            <div id="facility">
                <h3>편의 / 안전 시설 보유 여부</h3>
                <table>
                    <tr>
                        <td>공중화장실</td>
                        <td id="restroom">TEST</td>
                    </tr>
                    <tr>
                        <td>아케이드</td>
                        <td id="arcade">TEST</td>
                    </tr>
                    <tr>
                        <td>엘리베이터 / 에스컬레이터</td>
                        <td id="elevator">TEST</td>
                    </tr>
                    <tr>
                        <td>고객지원센터</td>
                        <td id="support_center">TEST</td>
                    </tr>
                    <tr>
                        <td>스프링쿨러</td>
                        <td id="sprinkler">TEST</td>
                    </tr>
                    <tr>
                        <td>화재감지기</td>
                        <td id="fire_detector">TEST</td>
                    </tr>
                    <tr>
                        <td>유아놀이방</td>
                        <td id="play_room">TEST</td>
                    </tr>
                    <tr>
                        <td>종합콜센터</td>
                        <td id="call_center">TEST</td>
                    </tr>
                    <tr>
                        <td>고객휴게실</td>
                        <td id="foyer">TEST</td>
                    </tr>
                    <tr>
                        <td>수유센터</td>
                        <td id="lactation_center">TEST</td>
                    </tr>
                    <tr>
                        <td>물품보관함</td>
                        <td id="stockroom">TEST</td>
                    </tr>
                    <tr>
                        <td>자전거보관함</td>
                        <td id="bicycle_rack">TEST</td>
                    </tr>
                    <tr>
                        <td>체육시설</td>
                        <td id="gym">TEST</td>
                    </tr>
                    <tr>
                        <td>간이 도서관</td>
                        <td id="library">TEST</td>
                    </tr>
                    <tr>
                        <td>쇼핑카트</td>
                        <td id="shopping_cart">TEST</td>
                    </tr>
                    <tr>
                        <td>외국인 안내센터</td>
                        <td id="visitor_center">TEST</td>
                    </tr>
                    <tr>
                        <td>고객동선통로</td>
                        <td id="movement_path">TEST</td>
                    </tr>
                    <tr>
                        <td>방송센터</td>
                        <td id="broadcasting_center">TEST</td>
                    </tr>
                    <tr>
                        <td>문화교실</td>
                        <td id="cultural_center">TEST</td>
                    </tr>
                    <tr>
                        <td>공동물류창고</td>
                        <td id="cooperative_warehouse">TEST</td>
                    </tr>
                    <tr>
                        <td>시장전용 고객주차장</td>
                        <td id="parking">TEST</td>
                    </tr>
                    <tr>
                        <td>교육장</td>
                        <td id="education_center">TEST</td>
                    </tr>
                    <tr>
                        <td>회의실</td>
                        <td id="meeting_room">TEST</td>
                    </tr>
                    <tr>
                        <td>자동심장충격기</td>
                        <td id="AED">TEST</td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer>
        <div class="introduce">
            <p>이메일 : arcomade12@gmail.com</p>
            <p>ⓒ김정태. All rights reserved.</p>
        </div>
        <div class="sns">
            <a href="https://github.com/ArcoKim" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://arcozz.tistory.com" target="_blank"><i class="fa-brands fa-blogger"></i></a>
        </div>
    </footer>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ api_key }}"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>